<h1>{{ 'directives.paint.title' | translate }}</h1>
<div class="screen" id="canvas" ng-style="{'height': height + 'px', 'width': width + 'px'}"></div>
<div class="history">
    <h2>{{ 'directives.paint.edit' | translate }}</h2>
    <button class="btn" ng-click="undo()" ng-disabled="version === 0">{{ 'directives.paint.undo' | translate }} <span class="icon icon-undo"></span></button> <button class="btn" ng-click="redo()" ng-disabled="history.length === 0 || history.length === version"><span class="icon icon-undo transformation-flip-horizontal"></span> {{ 'directives.paint.redo' | translate }}</button>
</div>
<div>
    <h2>{{ 'directives.paint.options' | translate }}</h2>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-preview">
            <h3>{{ 'directives.paint.preview' | translate }}</h3>
            <div class="preview" ng-style="{'background-color': color, 'height': thickness + 'px', 'borderRadius': thickness + 'px', 'marginTop': 38 - thickness/2 + 'px', 'opacity': 0.01 * opacity}"></div>
        </div>
        <div class="col-sm-12 col-md-4">
            <h3>{{ 'directives.paint.thickness' | translate }}</h3>
            <div>{{thickness}}px</div>
            <input type="range" min="1" max="30" ng-model="thickness">
        </div>
        <div class="col-sm-12 col-md-4">
            <h3>{{ 'directives.paint.opacity' | translate }}</h3>
            <div>{{opacity}}%</div>
            <input type="range" min="1" max="100" ng-model="opacity">
        </div>
    </div>
</div>
<div class="colors">
    <h2>{{ 'directives.paint.colour' | translate }}</h2>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-2">
            <div class="color large" ng-style="{'background-color': color}"></div>
            <div>
                <input type="color" class="picker" value="{{color}}" maxLength="7" size="7" placeholder="#000000" ng-model="color" />
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-10">
            <ul>
                <li ng-repeat="$color in colors" ng-click="setColor($color)" class="color" ng-class="{'active': $color === color}" ng-style="{'background-color': $color}"></li>
            </ul>
        </div>
    </div>
</div>