%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

.sprite-check {
	@extend %svg-common;
	background-position: 0 0;
}

.sprite-check-dims {
	width: 148px;
	height: 148px;
}

.sprite-cross {
	@extend %svg-common;
	background-position: 100% 0;
}

.sprite-cross-dims {
	width: 148px;
	height: 148px;
}

.sprite-pin {
	@extend %svg-common;
	background-position: 0 100%;
}

.sprite-pin-dims {
	width: 148px;
	height: 148px;
}

