<article class="item" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
     <img class="image thumbnail" itemprop="image" ng-src="{{::data.image}}" alt="{{::data.title}}" default-image="/images/default.png" />
    <h1>
        <button class="btn btn-md" ng-class="{'btn-favorite animation-rubber': data.favorite === true, 'btn-default': data.favorite !== true}" ng-click="switchFavorite(data)" title="{{ data.favorite ? 'page.items.favorite_remove' : 'page.items.favorite_add' | translate }}"><span class="icon icon-star"></span></button> 
        <span itemprop="name">{{::data.title}}</span>
    </h1>
    <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <span itemprop="price">{{data.price | currency:'&euro;':0}}</span>
    </span>
    <details class="description" itemprop="description"><summary>{{ "directives.item.show_description" | translate }}</summary>{{::data.description}}</details>
    <span class="email" itemscope itemtype="http://schema.org/Person">
        <span itemprop="email">{{::data.email}}</span>
    </span>
</article>