<div class="paint">
    <div>
    Paint
    </div>
    <div class="colors">
        Colors
        <div class="row">
            <div class="col-sm-3">
                <div class="color large" ng-style="{'background-color': '#' + color}"></div>
                <div>
                    #<input type="text" value="{{color}}" ng-model="color" />
                </div>
            </div>
            <div class="col-sm-9">
                <ul>
                    <li ng-repeat="color in colors" ng-click="setColor(color)" class="color" ng-style="{'background-color': '#' + color}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>