.paint {
    .colors{
        .color{
            border-radius: 100%;
            border: 2px solid rgba(0,0,0,.1);
            cursor: pointer;
            margin: 3px;
            display: inline-block;
            height: 30px;
            width: 30px;
            &.large{
                height: 60px;
                width: 60px;
            }
        }
    }
}